---
import SkillItem from '@components/SkillItem';
import TimeLine from '@components/Timeline';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import { Section } from 'astro-boilerplate-components';

const titleSuffix = ` - ${AppConfig.site_name}`;
const title = `Resume${titleSuffix}`;
const description =
  'Student at Bhavans Rajaji Vidyashram';
  
  ---

<Base head={{ title, description }}>
  <Section>
    <div class="mb-5">
      <div class="w-full text-3xl font-bold">Profile</div>
    </div>

    <div class="mb-10 text-justify">
      I am a high school student with a passion for computer science. 
      I have been coding since I was 12 years old, and I love the 
      challenge of solving problems and creating new things. I am 
      interested in pursuing a career in artificial intelligence.
       I believe that computer science is a powerful tool that can be 
       used to solve some of the world's biggest problems.
    </div>

        <div class="mb-5">
      <div class="w-full text-3xl font-bold">Education</div>
    </div>

    <div class="time-line-container mb-10 grid gap-4">
      <TimeLine
        title="High School"
        subtitle="2017 to 2025, Bhavans Rajaji Vidyashram, India"
      />
      <TimeLine
        title="Primary School"
        subtitle="2013 to 2017, R N Podar School, Mumbai India"
      />
    </div>

     <div class="mb-5">
      <div class="w-full text-3xl font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
      <TimeLine
        title="Freelance Software Developer"
        subtitle="From July 2023 to present"
      >
        Developing applications that have a powerful impact on the community.
        I also build applications to boost my productivity.
        <p>
          Technology Used: Python, Java, HTML, CSS, JavaScript, Tailwind CSS, NodeJS, ReactJS, SQL
        </p>
      </TimeLine>
      </div>


   <div class="mb-5">
      <div class="w-full text-3xl font-bold">Achievements</div>
    </div>

    <ul class="mx-6 mb-10 grid list-disc gap-2">
      <li>
        <p>Scored 97% in AISSE</p>
      </li>
    </ul>

    <div class="mb-5">
      <div class="w-full text-3xl font-bold">Tech Stack</div>
    </div>

    <ul class="mx-6 list-disc columns-2 md:columns-5">
      <SkillItem title="Python" icon="python-plain" />
      <SkillItem title="ReactJS" icon="react-original" />
      <SkillItem title="NodeJS" icon="nodejs-plain" />
      <SkillItem title="Java" icon="java-plain" />
      <SkillItem title="MongoDB" icon="mongodb-plain" />
      <SkillItem title="HTML" icon="html5-plain" />
      <SkillItem title="JavaScript" icon="javascript-plain" />
      <SkillItem title="NextJS" icon="nextjs-plain" />
      <SkillItem title="Tailwind" icon="tailwindcss-plain" />
      <SkillItem title="SQL" icon="mysql-plain" />
      <SkillItem title="Git" icon="git-plain" />
      <SkillItem title="Github" icon="github-plain" />
    </ul>
  </Section>
</Base>
